
/*Header*/
body
{
	margin-left: 50px;
	margin-right: 50px;
	font-family: 'Raleway', sans-serif;
}

#logo
{
	width: 97px;
	height: 45px;
}

/*nav*/
ul
{
	list-style-type: none;
}

#menu
{
	display: flex;
	justify-content: flex-end;
	margin-top: -53px;
}

a
{
	text-decoration: none;
	color: black;
}


.HAI
{
	text-decoration: none;
	color: black;
	margin-left: 70px;
}

.HAI:hover
{
	color: blue;
}

li
{
	font-size: 20px;
}

#inscription
{
	color: blue;
	margin-left: 70px;
}
/*nav*/

/*header*/

/*section*/
p
{
	font-size: 20px;
}

.presentation
{
	font-size: 24px;
}

input[type=search] {
    border: 1px dotted #999;
    border-radius: 0;
    height: 50px;

    -webkit-appearance: none;
}

#recherche
{
	display: flex;
}

button
{
	background-color: #0065FC;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 50px;
	width: 135px;
	font-size: 20px;
}

#point
{
	display: flex;
	height: 50px;
	width: 52px;
	background-color: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	justify-content: center;
	align-items: center;
}
	
input
{
	width: 233px;
	height: 40px;
}

    /*filtres*/
#choix
{
	display: flex;
	justify-content: flex-start;
	height: 50px;
	margin-top: 32px;
}

#Economique
{
	display: flex;
	width: 195px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	align-items: center;
	justify-content: space-around;
	margin-right: 24px;

}

#Familliale
{
	display: flex;
	width: 152px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	align-items: center;
	justify-content: space-around;
	margin-right: 24px;
}

#Romantique
{
	display: flex;
	width: 182px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	align-items: center;
	justify-content: space-around;
	margin-right: 24px;
}

#Animaux
{
	display: flex;
	width: 242px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	align-items: center;
	justify-content: space-around;
	margin-right: 24px;
}

.icone
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DEEBFF;
	height: 46px;
	width: 50px;
	border: 2px solid #DEEBFF;
	border-radius: 30px;
}

.texte
{
	display: flex;
	flex: 1;
	justify-content: center;
}

.t2:hover
{
	color: red;
}

#categorie
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 33px;
}

.fa-child
{
	color: #0065FC;
}

.fa-map
{
	color: #0065FC;
}

.fa-heart
{
	color: #0065FC;
}

.fa-dog
{
	color: #0065FC;
}
/*filtres*/

#info
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.i
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid #DEEBFF;
	border-radius: 50px;
	margin-right: 15px;
}

/*section 1*/

/*section 2*/

.imageG1  /*partie1*/
{
	height: 110px;
	width: 235px;
}

.prix
{
	font-size: 17px;
	margin-left: 20px;
}

#hebergement
{
	display: flex;
	justify-content: space-between;
}

.imagesmarseille
{
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
}


#marseille
{
	padding-right: 40px;
	padding-left: 40px;
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 800px;
}

.image
{
	background-color: white;
	margin-bottom: 28px;
	border: 5px solid white;
	border-radius: 10px;
}

.imageG1 /*fin partie 1*/
{
	border-radius: 10px;
}


.imageG2 /*début partie 2*/
{
	height: 135px;
	width: 130px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#classement
{
	padding-right: 40px;
	padding-left: 40px;
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 340px;
}

.classementexte
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.images2
{
	display: flex;
	margin-bottom: 30px;
	background-color: white;
	border: 5px solid white;
	border-radius: 20px;
}